/* clear element default style */
html, body, p, h1, h2, h3, h4, h5, h6, ul, li, ol, dl, dd, dt, img, input, textarea, menu, button {
  margin: 0;
  padding: 0;
  border: 0;
  list-style: none;
  outline: none;
}
/* unite字体 */
* {
 font-family: "宋体";
 color: #000;
}
/* hide滚动条 */
*::-webkit-scrollbar {
  display: none;
}
/* ban多行文本框自动拉伸 */
textarea {
  resize: none;
}
/* clear浮动 */
.clearfix:after {
  display: block;
  content: '';
  clear: both;
}
/* ban文本被选中 */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-focus: none;
  -moz-user-select: none;
}
/* front input cursor */
input::-webkit-input-placeholder {
  color: #d6d8d8;
}
input::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #d6d8d8;
}
input:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #d6d8d8;
}
input:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #d6d8d8;
}
/* clear input default style in ios system */
input[type=text] {
  -webkit-appearance: none;
  outline: none;
}