@font-face {
    font-family: PingFang Regular;
    src: url("../../../fonts/PingFang Regular.ttf");
}
*{
    font-family: PingFang Regular;
}


/*html {*/
/*    width: 100%;*/
/*    height: 100%;*/
/*    background: #1b191b; }*/

 :root {
     --theme-color-1: #00A9FF;
     /*    --theme-color-2: #368bc0;*/
     /*    --theme-color-3: #6c90a1;*/
     /*    --theme-color-4: #365573;*/
     /*    --theme-color-5: #47799a;*/
     /*    --theme-color-6: #8e9599;*/
     /*    --theme-color-1-10: rgba(43, 108, 161, 0.1);*/
     /*    --theme-color-2-10: rgba(54, 139, 192, 0.1);*/
     /*    --theme-color-3-10: rgba(108, 144, 161, 0.1);*/
     /*    --theme-color-4-10: rgba(54, 85, 115, 0.1);*/
     /*    --theme-color-5-10: rgba(71, 121, 154, 0.1);*/
     /*    --theme-color-6-10: rgba(142, 149, 153, 0.1);*/
     /*    --primary-color: #969696;*/
     --foreground-color: #ffffff;
     --separator-color:  #DEDEDE;
 }
/* base
==========================================*/
.app-header
{
    background:var(--foreground-color);
}
.app-toolbar,
.bg-toolbar
{
    background:var(--foreground-color);
}
.mini-modal
{
    background:var(--foreground-color);
    opacity: .6;
    filter: alpha(opacity=60);
}
.mini-mask-background
{
    background:var(--foreground-color);
    opacity: 0;
    filter: alpha(opacity=0);
}
.mini-popup,
.mini-window,
.mini-menu-open
{
    /*box-shadow:rgba(0,​ 0,​ 0,​ 0.6) 0px 6px 12px 0px;*/
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3);
}

/* tools
==========================================*/

/* popup
==========================================*/
.mini-popup
{
    border-color:var(--separator-color);
}

/* toolbar
==========================================*/
.mini-toolbar
{
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.separator
{
    border-color:var(--separator-color);
}

/* button
==========================================*/
.mini-button
{
    background: var(--foreground-color);
    border-color: var(--separator-color);
    color: #969696;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    border-radius: 4px;
}
body a:hover.mini-button
{
    color:var(--theme-color-1);
    border-color:var(--separator-color);
    background:var(--foreground-color)
}
body .mini-button-pressed, body a:hover.mini-button-pressed,
body .mini-button-checked, body a:hover.mini-button-checked,
body a.mini-button-popup, body a:hover.mini-button-popup
{

    background:#ebebeb;
    border-color:#adadad;
    color:#333333;
    box-shadow: inset 0 3px 5px rgba(0, 0, 0, .125);
}
body a.mini-button-disabled, body a:hover.mini-button-disabled
{
    color:#999;
    border-color:#ddd;
    background:none;
    opacity: 0.5;
    filter: alpha(opacity=50);
}

.mini-button-primary
{
    color: #fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}
body a:hover.mini-button-primary
{
    color: #fff;
    background-color: #286090;
    border-color: #204d74;
}
body .mini-button-pressed.mini-button-primary, body a:hover.mini-button-pressed.mini-button-primary,
body .mini-button-checked.mini-button-primary, body a:hover.mini-button-checked.mini-button-primary,
body a.mini-button-popup.mini-button-primary, body a:hover.mini-button-popup.mini-button-primary
{
    color: #fff;
    background-color: #204d74;
    border-color: #122b40;
}
body a.mini-button-disabled.mini-button-primary,
body a:hover.mini-button-disabled.mini-button-primary
{
    color:#fff;
    background-color: #337ab7;
    border-color: #2e6da4;
}

.mini-button-success
{
    color: #fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}
body a:hover.mini-button-success
{
    color: #fff;
    background-color: #449d44;
    border-color: #398439;
}
body .mini-button-pressed.mini-button-success, body a:hover.mini-button-pressed.mini-button-success,
body .mini-button-checked.mini-button-success, body a:hover.mini-button-checked.mini-button-success,
body a.mini-button-popup.mini-button-success, body a:hover.mini-button-popup.mini-button-success
{
    color: #fff;
    background-color: #398439;
    border-color: #255625;
}
body a.mini-button-disabled.mini-button-success,
body a:hover.mini-button-disabled.mini-button-success
{
    color:#fff;
    background-color: #5cb85c;
    border-color: #4cae4c;
}

.mini-button-info
{
    color: #fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}
body a:hover.mini-button-info
{
    color: #fff;
    background-color: #31b0d5;
    border-color: #269abc;
}
body .mini-button-pressed.mini-button-info, body a:hover.mini-button-pressed.mini-button-info,
body .mini-button-checked.mini-button-info, body a:hover.mini-button-checked.mini-button-info,
body a.mini-button-popup.mini-button-info, body a:hover.mini-button-popup.mini-button-info
{
    color: #fff;
    background-color: #269abc;
    border-color: #1b6d85;
}
body a.mini-button-disabled.mini-button-info, body a:hover.mini-button-disabled.mini-button-info
{
    color:#fff;
    background-color: #5bc0de;
    border-color: #46b8da;
}

.mini-button-warning
{
    color: #fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}
body a:hover.mini-button-warning
{
    color: #fff;
    background-color: #ec971f;
    border-color: #d58512;
}
body .mini-button-pressed.mini-button-warning, body a:hover.mini-button-pressed.mini-button-warning,
body .mini-button-checked.mini-button-warning, body a:hover.mini-button-checked.mini-button-warning,
body a.mini-button-popup.mini-button-warning, body a:hover.mini-button-popup.mini-button-warning
{
    color: #fff;
    background-color: #d58512;
    border-color: #985f0d;
}
body a.mini-button-disabled.mini-button-warning, body a:hover.mini-button-disabled.mini-button-warning
{
    color:#fff;
    background-color: #f0ad4e;
    border-color: #eea236;
}

.mini-button-danger
{
    color: #fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}
body a:hover.mini-button-danger
{
    color: #fff;
    background-color: #c9302c;
    border-color: #ac2925;
}
body .mini-button-pressed.mini-button-danger, body a:hover.mini-button-pressed.mini-button-danger,
body .mini-button-checked.mini-button-danger, body a:hover.mini-button-checked.mini-button-danger,
body a.mini-button-popup.mini-button-danger, body a:hover.mini-button-popup.mini-button-danger
{
    color: #fff;
    background-color: #ac2925;
    border-color: #761c19;
}
body a.mini-button-disabled.mini-button-danger, body a:hover.mini-button-disabled.mini-button-danger
{
    color:#fff;
    background-color: #d9534f;
    border-color: #d43f3a;
}

.mini-button-plain.mini-button-primary,
.mini-button-plain.mini-button-success,
.mini-button-plain.mini-button-info,
.mini-button-plain.mini-button-warning,
.mini-button-plain.mini-button-danger
{
    color:#333;
}

/* textbox
==========================================*/
.mini-textbox-border
{
    background:var(--foreground-color);
    /* border-color:#f4f4f4;	#ddd treps */
    border-radius: 4px;
    border: 1px solid var(--separator-color);

}
.mini-textbox-focus .mini-textbox-border
{
    /*background-color: #fff;*/
    border-color: var(--separator-color);
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
body .mini-error .mini-textbox-border,
body .mini-error .mini-buttonedit-border,
body .mini-error .mini-textboxlist-border
{
    border-color: #ffa8a8;
    background-color: #fff3f3;
}
.mini-textbox-input
{
    color:#969696;
}

/* buttonedit
==========================================*/
.mini-buttonedit-border
{
    background:white;
    border: 1px solid #e4e7ea;/* treps */
    border-radius: 4px;
}
.mini-buttonedit-focus .mini-buttonedit-border
{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(102, 175, 233, .6);
}
.mini-buttonedit-input
{
    color:#969696;
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-buttonedit-button
{
    background:transparent;
    border: 1px solid var(--separator-color);/* treps */
    color: #969696;
    border-radius:4px;
}
.mini-buttonedit-button-hover,
.mini-buttonedit-hover ,.mini-buttonedit-trigger
{
    color:var(--theme-color-1);
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-buttonedit-button-pressed,
.mini-buttonedit-popup  .mini-buttonedit-trigger
{
    color:#333;
    background:#ebebeb;
    border-color:#adadad;
}
.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon
{
    /*background:url(images/buttonedit/arrow.gif) no-repeat  1px 2px;*/
}
.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon
{
    /*background:url(images/buttonedit/date.gif) no-repeat  50% 50%;*/
}
.mini-buttonedit-up span, .mini-buttonedit-down span
{
    /*background:url(images/buttonedit/spinner_arrows.png) no-repeat 0px 50%; */
}
.mini-buttonedit-down span
{
    /*background-position:-16px 50%;*/
}

/* textboxlist
==========================================*/
.mini-textboxlist-border
{
    border: 1px solid #e4e7ea;/* treps */
}
.mini-textboxlist-focus .mini-textboxlist-border
{
    /*background-color: #fff;*/
    border: 1px solid #e4e7ea;/* treps */
    color: #000;
}
.mini-textboxlist-item
{
    color:#333;
}

/* htmlfile
==========================================*/
.mini-htmlfile .mini-buttonedit-button
{
    color:#333;
    background: #FFFFFF;
    border: 1px solid #e4e7ea;/* treps */
}

/* panel
==========================================*/
.mini-panel-border
{
    border-color:#ddd;
    border-radius: 4px;
}
.mini-panel-header
{
    background:#f8f8f8;
    color:#333;
    font-weight:bold;
    border-color:#ddd;
}
.mini-panel-toolbar,
.mini-panel-footer
{
    background:#fff;
    border-color:#ddd;
}

.mini-panel-primary > .mini-panel-border
{
    border-color:#337ab7;
}
.mini-panel-primary > .mini-panel-border > .mini-panel-header
{
    color: #fff;
    background-color: #337ab7;
    border-color: #337ab7;
}

.mini-panel-success > .mini-panel-border
{
    border-color:#d6e9c6;
}
.mini-panel-success > .mini-panel-border > .mini-panel-header
{
    color: #3c763d;
    background-color: #dff0d8;
    border-color: #d6e9c6;
}

.mini-panel-info > .mini-panel-border
{
    border-color:#bce8f1;
}
.mini-panel-info > .mini-panel-border > .mini-panel-header
{
    color: #31708f;
    background-color: #d9edf7;
    border-color: #bce8f1;
}

.mini-panel-warning > .mini-panel-border
{
    border-color:#faebcc;
}
.mini-panel-warning > .mini-panel-border > .mini-panel-header
{
    color: #8a6d3b;
    background-color: #fcf8e3;
    border-color: #faebcc;
}

.mini-panel-danger > .mini-panel-border
{
    border-color:#ebccd1;
}
.mini-panel-danger > .mini-panel-border > .mini-panel-header
{
    color: #a94442;
    background-color: #f2dede;
    border-color: #ebccd1;
}


/* window
==========================================*/
.mini-window .mini-panel-header
{
    background:var(--foreground-color);
}
.mini-window .mini-panel-footer
{
    background:var(--foreground-color);
}
.mini-window,
.mini-window > .mini-panel-border
{
    border-radius:6px;
}

/* outlookbar
==========================================*/
.mini-outlookbar-border
{
    border-color:#ddd;
}
.mini-outlookbar .mini-outlookbar-groupHeader
{
    background:var(--foreground-color);
    border-color:#ddd;
    color:#333;
}
.mini-outlookbar .mini-outlookbar-hover
{
    background:var(--foreground-color);
}
.mini-outlookbar-expand .mini-outlookbar-groupHeader
{
    background:var(--foreground-color);
}
.mini-outlookbar .mini-outlookbar-groupTitle
{
    font-weight:normal;
}
.mini-outlookbar .mini-outlookbar-group
{
    border-color:var(--separator-color);
}
.mini-outlookbar .mini-outlookbar-groupBody
{
    border-color:var(--separator-color);
}
.mini-outlookbar-view2 .mini-outlookbar-groupHeader
{
    border-color:var(--separator-color);
}
.mini-outlookbar-view2 .mini-outlookbar-groupBody
{
    background:var(--foreground-color);
}
.mini-outlookbar-view3 .mini-outlookbar-group
{
    border-color:var(--separator-color);
}

/* splitter
==========================================*/
.mini-splitter-border
{
    border-color: var(--separator-color);
}
.mini-splitter .mini-splitter-pane1{
    border-color:var(--separator-color);
}
.mini-splitter .mini-splitter-pane2{
    border-color:var(--separator-color);
}

/* layout
==========================================*/
.mini-layout-border
{
    border-color:var(--separator-color);
}
.mini-layout-region
{
    border-color:var(--separator-color);
}
.mini-layout-region-header
{
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-layout-proxy
{
    border-color:var(--separator-color);
    background:var(--foreground-color);
}
.mini-layout-proxy-hover
{
    background:var(--foreground-color);
}
.mini-layout-region-title
{
    color:#969696;
}

/* menu
==========================================*/
.mini-menu
{
    background:var(--foreground-color);
    color:#969696;
}
.mini-menu-border
{
    border-color:var(--separator-color);
}
.mini-menuitem-hover,
.mini-menu-popup
{
    border-color:var(--separator-color);
    background:var(--foreground-color);
}
.mini-menuitem-selected
{
    border-color:var(--separator-color);
    background:var(--foreground-color);
}
.mini-menuitem-text, .mini-menuitem-text a
{
    color:#969696;
}
.mini-separator
{
    border-color:var(--separator-color);
}
.mini-menu-horizontal .mini-menu-inner
{
    background:var(--foreground-color);
}
.mini-menu-horizontal .mini-menuitem-allow
{
    background:url(images/menu/menu_arrows.png) no-repeat -2px -4px;
}

/* pager
==========================================*/
.mini-pager
{
    background:transparent;
    border-color:var(--separator-color);
}

/* grid
==========================================*/
.mini-grid-border
{
    border-color:var(--separator-color);
    border-radius: 0px;
}
.mini-grid-header
{
    background:var(--foreground-color);
}
.mini-grid-headerCell,
.mini-grid-topRightCell,
.mini-grid-columnproxy
{
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-grid-cell
{
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-grid-footer,
.mini-grid-pager,
.mini-grid-filterRow
{
    border-color:var(--separator-color);
    background:var(--foreground-color);
}
html body .mini-grid-row-hover
{
    color:var(--theme-color-1);
    background: var(--foreground-color);
}
html body .mini-grid-row-selected
{

    color:var(--theme-color-1);
    background: var(--foreground-color);
    border-color:var(--separator-color);
}
html body .mini-grid .mini-grid-cell-selected
{
    color:var(--theme-color-1);
    background: var(--foreground-color);
    border-color:var(--separator-color);
    font-weight: bold;
}
.mini-grid-header-over
{
}

/* tree
==========================================*/
.mini-tree-nodeshow
{
    border-radius:4px;
}
.mini-tree-node-hover .mini-tree-nodeshow
{
    background: #e8e8e8;
    border-color: #ddd;
}
.mini-tree-selectedNode .mini-tree-nodeshow
{
    background: #e8e8e8;
    border-color: #ddd;
}
.mini-tree-leaf
{
    background-image:url(images/tree/file.gif);
}
.mini-tree-folder
{
    background-image:url(images/tree/folder.gif);
}
.mini-tree-expand .mini-tree-folder
{
    background-image:url(images/tree/folder-open.gif);
}

/* listbox
==========================================*/
.mini-listbox-border
{
    border-color:var(--separator-color);
}
.mini-listbox-header
{
    background:#f8f8f8;
    border-color:var(--separator-color);
}
.mini-listbox-header td
{
    border-color:var(--separator-color);
}
.mini-listbox-item td{
    background:var(--foreground-color);
    border-color:var(--separator-color);
    color:#969696;
}
.mini-listbox-item-hover td{
    background:var(--foreground-color);
    color:var(--theme-color-1);
}
.mini-listbox-item-selected td{
    background:var(--foreground-color);
    font-weight: bold;
    color:var(--theme-color-1);
}

/* tabs
==========================================*/
.mini-tabs-scrollCt
{
    border-color:var(--separator-color);
    background:var(--foreground-color);
}
.mini-tabs-leftButton,
.mini-tabs-rightButton,
.mini-tabs-tabmenu
{
    border-color:var(--foreground-color);
    background-color:var(--foreground-color);
}
a:hover.mini-tabs-leftButton,
a:hover.mini-tabs-rightButton,
a:hover.mini-tabs-tabmenu
{
    border-color:var(--separator-color);
    background-color:var(--foreground-color);
}
/* top */
.mini-tabs-bodys
{
    border-color:var(--separator-color);
}
.mini-tabs-space
{
    border-color:var(--separator-color);
}
.mini-tabs-space2
{
    border-color:var(--separator-color);
}
.mini-tab
{
    background: var(--foreground-color);
    border-color:var(--separator-color);
    color: #969696;
    /*font-weight:bold;*/
}
.mini-tab-hover
{
    background:var(--foreground-color);
    color:var(--theme-color-1);
    font-weight:bold;
}
.mini-tab-active
{
    border-color:var(--separator-color);
    border-bottom-color:#fff;
    background: var(--foreground-color);
    color:var(--theme-color-1);
    font-weight:bold;
}
.mini-tab-close-hover
{
    background-color:#ddd;
}
/* bottom */
.mini-tabs-header-bottom .mini-tabs-space,
.mini-tabs-header-bottom .mini-tabs-space2
{
    border-color:var(--separator-color);
}
.mini-tabs-header-bottom .mini-tabs-bodys
{
    border-color:var(--separator-color);
}
.mini-tabs-header-bottom .mini-tab-active
{
    border-top-color:white;
    border-bottom-color:var(--separator-color);
}
.mini-tabs-body-bottom
{
    border-color:var(--separator-color);
}
/* left */
.mini-tabs-header-left .mini-tabs-space,
.mini-tabs-header-left .mini-tabs-space2
{
    border-color:var(--separator-color);
}
.mini-tabs-header-left .mini-tabs-bodys
{
    border-color:var(--separator-color);
}
.mini-tabs-header-left .mini-tab-active
{
    border-color:var(--separator-color);
    border-right-color:white;
}
.mini-tabs-body-left
{
    border-color:var(--separator-color);
}
/* right */
.mini-tabs-header-right .mini-tabs-space,
.mini-tabs-header-right .mini-tabs-space2
{
    border-color:var(--separator-color);
}
.mini-tabs-header-right .mini-tabs-bodys
{
    border-color:var(--separator-color);
}
.mini-tabs-header-right .mini-tab-active
{
    border-color:var(--separator-color);
    border-left-color:white;
}
.mini-tabs-body-right
{
    border-color:var(--separator-color);
}
/* radius */
.mini-tab
{
    border-radius:4px;
}
.mini-tabs-header-right .mini-tab
{
    border-top-left-radius:0px;
    border-bottom-left-radius:0px;
}

.mini-tabs-header-left .mini-tab
{
    border-top-right-radius:0px;
    border-bottom-right-radius:0px;
}
.mini-tabs-header-bottom .mini-tab
{
    border-top-right-radius:0px;
    border-top-left-radius:0px;
}
.mini-tabs-header-top .mini-tab
{
    border-bottom-right-radius:0px;
    border-bottom-left-radius:0px;
}

/* tooltip
==========================================*/
.mini-tooltip-inner {
    border-color:var(--separator-color);
    border-radius: 0px;
}

/* calendar
==========================================*/
.mini-calendar
{
    border-color:#ccc;
}
.mini-calendar-header
{
    background:#f8f8f8;
    border-color:var(--separator-color);
}
.mini-calendar-footer
{
    border-color:var(--separator-color);
    background:#fbfbfb;
}
.mini-calendar-tadayButton, .mini-calendar-clearButton,
.mini-calendar-okButton, .mini-calendar-cancelButton
{
    background: #FFFFFF;
    border-color: var(--separator-color);
    color: #333;
    border-radius: 4px;
}
.mini-calendar-tadayButton:hover, .mini-calendar-clearButton:hover,
.mini-calendar-okButton:hover, .mini-calendar-cancelButton:hover
{
    background: #ebebeb;
    border-color: #adadad;
}
.mini-calendar .mini-calendar-today
{
    border-color:#C00000;
}
.mini-calendar-daysheader td
{
    border-color:var(--separator-color);
}
.mini-calendar-menu
{
    border-color:var(--separator-color);
}
.mini-calendar-title,
.mini-calendar-menu-year,
.mini-calendar-menu-month
{
    color:#333;
}
.mini-calendar .mini-calendar-selected,
.mini-calendar-menu-selected,
a:hover.mini-calendar-menu-month,
a:hover.mini-calendar-menu-year
{
    color:#333;
    background: #ebebeb;
    border-color: #adadad;
}

/* progressbar
==========================================*/
.mini-progressbar-border
{
    border-radius:4px;
}
.mini-progressbar-border
{
    border-color:#ccc;
}
.mini-progressbar-bar
{
    background:#f5f5f5;
}
.mini-progressbar-text
{
    color:#222;
}
/*
==========================================*/
.mini-tabs .mini-tab-active, .mini-tab-active.mini-tab-hover {

    border-bottom-color: var(--theme-color-1);

    /*border-top-color:#fff;*/
}
html body .mini-grid-row-selected
{
    background: var(--theme-color-1);
}
.mini-buttonedit-border {
    background: var(--foreground-color);
    border: solid 1px var(--separator-color);
    width: auto;
    height: 28px;
    display: block;
    position: relative;
    overflow: hidden;
    padding-right: 24px;
    padding-left: 0px!important;

}
.mini-buttonedit-buttons,.mini-icon{
    /*color:#969696;*/
    /*background:var(--foreground-color);*/
    border-color:var(--separator-color);

}
.mini-buttonedit-button {
    height: 28px!important;
    margin-top: -1px!important;
    margin-bottom: -2px!important;
    margin-right: -1px!important;
}
.mini-buttonedit-button {
    background: transparent;
    border: 1px solid var(--separator-color);
    color: #969696;
    border-radius: 0px!important;
}
  .mini-buttonedit-close {
     border:0px!important;
}

.mini-buttonedit .mini-buttonedit-input {
    margin-top: 3px!important;
}
.mini-splitter-handler,.mini-grid-rows-view,.mini-splitter,
.fieldset-body,.mini-splitter-pane1-button,.mini-textbox-input,
.mini-panel-body,.mini-panel-header,.mini-fit
{
    color:#969696;
    background:var(--foreground-color);
    border-color:var(--separator-color);
}
.mini-splitter-pane1-button
{

    background:var(--separator-color);
}
body .mini-grid * ,body .mini-buttonedit-disabled .mini-buttonedit-border, body .mini-buttonedit-disabled .mini-buttonedit-input
{
    /*color:#969696;*/
    /*background:var(--foreground-color);*/
    /*border-color:var(--separator-color);*/
}
.mini-buttonedit-border,.mini-buttonedit-input,.mini-button-menu
{
    color:#969696!important;
    background:var(--foreground-color)!important;
    border-color:var(--separator-color) !important;
}
.mini-panel-border
{

    border-color:var(--separator-color);
}
.mini-textbox-border
{
    padding-right: 0px!important;
    padding-left: 0px!important;
}
.mini-buttonedit-border,.mini-corner-all
{

    background:var(--foreground-color)!important;

}
.mini-textarea .mini-textbox-input .mini-textbox{
    border-color:var(--separator-color);
}
.mini-textbox-border{
    border-left-color:var(--separator-color);
    border-right-color:var(--separator-color);
    border-top-color:var(--separator-color);
    border-bottom-color:var(--separator-color);
}

::-webkit-scrollbar
{
    width: 10px;
    height: 10px;
    background-color: var(--separator-color);
}

::-webkit-scrollbar-track
{
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);*/
    /*border-radius: 10px;*/
    background-color: var(--foreground-color);
}

/*定义滑块 内阴影+圆角*/
::-webkit-scrollbar-thumb
{
    /*border-radius: 10px;*/
    /*-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);*/
    background-color: var(--separator-color);
}
/*a:link,a:visited{*/
/*    color: #969696 !important;*/
/*}*/
/*a:active{*/
/*    color: var(--theme-color-1) !important;*/
/*}*/
body {

    padding-bottom: 5px !important;
}

.mini-tree-collapse .mini-tree-node-ecicon{
    background-image: none !important;
}
.mini-tree-expand .mini-tree-node-ecicon{
    background-image: none !important;
}
.mini-grid-ecIcon:after,.mini-tree-collapse .mini-tree-node-ecicon:before
{
    font: normal normal normal 14px/1.9 FontAwesome;
    content: "\f054";
    margin-left: 2px;
}
.mini-grid-expandRow .mini-grid-ecIcon:after,.mini-tree-expand .mini-tree-node-ecicon:before
{
    font: normal normal normal 14px/1.9 FontAwesome;
    content: "\f078";
    margin-left: 2px;
}
.mini-tree-folder:after
{
    font: normal normal normal 14px/1.9 FontAwesome;
    content: "\f07b";
    margin-left: 2px;
}
.mini-grid-radio
{
    background: none !important;
}
.mini-grid-radio:after
{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c8";
    font-size: 16px;
}
.mini-grid-radio-checked,
.mini-grid-row-selected .mini-checkcolumn .mini-grid-radio
{
    background:none !important;
}
.mini-grid-radio-checked:after,.mini-grid-row-selected .mini-checkcolumn .mini-grid-radio:after
{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f14a";
    font-size: 16px;
}

.mini-grid-checkbox{

    background:none !important;
}
.mini-grid-checkbox-checked,
.mini-grid-row-selected .mini-checkcolumn .mini-grid-checkbox
{
    background:none !important;
}

.mini-grid-checkbox:after{

    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0c8";
    font-size: 16px;
}
.mini-grid-checkbox-checked:after,
.mini-grid-row-selected .mini-checkcolumn .mini-grid-checkbox:after
{
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f14a";
    font-size: 16px;
}
.mini-checkbox-check, .mini-checkbox-icon {
    background: none !important;
}
.mini-checkbox-check:after, .mini-checkbox-icon:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f14a";
    font-size: 16px;
}
.mini-buttonedit-close {
     background: none !important;
    margin-top: 3px;
    margin-right: 3px;
}
.mini-buttonedit-close:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f00d";
    font-size: 18px;
}
.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon {
    background: none!important;
    background-image:  none!important;
}
.mini-datepicker .mini-buttonedit-trigger .mini-buttonedit-icon:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f073";
    font-size: 16px;
}
.mini-grid-cell-inner ,.mini-grid-headerCell-inner {
    /*padding-top: 13px !important;*/
    /*padding-bottom: 13px !important;*/
    font-size: 14px !important;
    line-height: 18px!important;
}
.mini-buttonedit-icon {
    left: 50%;
    top: 40%!important;
}
/*.mini-grid-cell-inner {*/
/*    height: 18px!important;*/
/*}*/
.mini-grid-cell-inner {

    height: auto!important;
}

.mini-grid-cell, .mini-grid-headerCell, .mini-grid-filterCell, .mini-grid-summaryCell {

    /*padding-top: 9px !important;*/
    /*padding-bottom: 9px !important;*/
    height: auto!important;
}
.mini-tree-nodetitle, .mini-tree-node-ecicon, .mini-tree-indent {
    height: auto!important;
}
main {

    margin-top: 105px!important;
    margin-left: 140px !important;
}
@media (max-width: 1439px){
    main {

        margin-top: 95px !important;
        margin-left: 130px !important;
    }

}
@media (max-width: 1199px){
    main {

        margin-top: 85px !important;
        margin-left: 120px !important;
    }
}
@media (max-width: 767px){
    main {
        margin-left: 15px !important;
        margin-right: 15px !important;
        margin-top: 75px !important;

    }
}

#app-container.main-hidden main, #app-container.menu-hidden main {
    margin-left: 20px !important;
}


.mini-panel {
    font-size: 14px !important;
}
.mini-textbox-input {

    font-size: 14px !important;
}
.menu .main-menu ul li a {

    font-size: 14px !important;
}
.menu .sub-menu ul li a {

     font-size: 14px !important;
 }
.mini-tab-text {
    font-size: 14px !important;
}
.mini-messagebox-content td {
    font-size: 14px  !important;
}
.mini-icon {
    font-size: 20px !important;
    line-height: 20px !important;
    min-height: 20px!important;
}
.mini-button-icon {

    overflow: visible !important;
}
.mini-mask-background{

    background:var(--theme-color-6);opacity: .3;-moz-opacity: .3;filter: alpha(opacity=30)!important;
}
.mini-mask-msg{
    position:absolute;
    cursor:wait;
    /*left:50%;*/
    /*top:50%;*/
    /*height:30px!important;*/
    /*width:30px!important;*/
    color:rgba(255,255,255,0);
    font-family:tahoma,arial,verdana,sans-serif;
    font-size:1px!important;
    overflow: hidden;
    /*visibility:hidden ;*/

}
.mini-mask-loading
{
    /*padding:2px 18px 10px 30px;*/
    /*background:#fff url(images/grid/loading.gif) no-repeat scroll 5px 50%;*/
    /*border:2px solid #517fad;*/
    background:none!important;
    display: inline-block;
    width: 20px!important;
    height: 42px!important;
    border: 2px solid var(--theme-color-1-10);
    border-radius: 50%;
    border-top-color: var(--theme-color-1);
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
    left: calc(50% - 15px);
    top: calc(50% - 15px);
    position: fixed;
    z-index: 1;
    margin-left:0px!important;
    margin-top: 0px!important;
}
.mini-tabs .mini-tab-close {

     top: 0px!important;
}
.New_Button, .Edit_Button, .Clone_Button, .Update_Button {
    color: var(--theme-color-1)!important;
}
.mini-popupedit .mini-buttonedit-trigger .mini-buttonedit-icon   {
     background: none!important;
}
.mini-combobox .mini-buttonedit-trigger .mini-buttonedit-icon:after {
    font: normal normal normal 14px/1 FontAwesome;
    content: "\f0d7";
    font-size: 16px;
    margin-left: 3px;
}
.mini-treeselect .mini-buttonedit-trigger .mini-buttonedit-icon:after {
     font: normal normal normal 14px/1 FontAwesome;
     content: "\f0d7";
     font-size: 16px;
     margin-left: 3px;
 }
.mini-pager-reload {
    background-image: none;
}
.mini-pager-reload:after {
    font: normal normal normal 16px/1 FontAwesome;
    content: "\f021";
    font-size: 16px;
    margin-left: 3px;
}
.mini-pager-next {
    background-image: none;
}
.mini-pager-next:after {
    font: normal normal normal 20px/1  "Font Awesome 5 Pro";
    content: "\f105";
    font-size: 20px;
    margin-left: 3px;
}
.mini-pager-prev {
    background-image: none;
}
.mini-pager-prev:after {
    font: normal normal normal 20px/1 "Font Awesome 5 Pro";
    content: "\f104";
    font-size: 20px;
    margin-left: 3px;
}
.mini-pager-first {
    background-image: none;
}
.mini-pager-first:after {
    font: normal normal normal 20px/1 "Font Awesome 5 Pro";
    content: "\f323";
    font-size: 20px;
    margin-left: 3px;
}

.mini-pager-last {
    background-image: none;
}
.mini-pager-last:after {
    font: normal normal normal 20px/1 "Font Awesome 5 Pro";
    content: "\f324";
    font-size: 20px;
    margin-left: 3px;
}
.mini-buttonedit-icon {

    background-image: none;

}
.mini-buttonedit-icon:after {
    font: normal normal normal 14px/1 "Font Awesome 5 Pro";
    content: "\f141";
    font-size: 14px;
    margin-left: 1px;
}
.mini-tools .mini-tools-collapse {
    background: url(images/tools/collapse.gif) no-repeat 50% 50%;
    width: 13px;
    _background-position: 50% 3px;
}
.mini-panel-collapse .mini-tools-collapse {
    background: url(images/tools/expand.gif) no-repeat 50% 50%;
    _background-position: 50% 3px;
}
.mini-tab {
    padding-top: 5px!important;
    padding-bottom: 5px!important;
}

.mini-tab-active, .mini-tab {
    border-top-width: 1px!important;
}
.mini-tab-active {
    border-bottom-width: 2px!important;
}
.aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item .menu-submenu .menu-item > .menu-link .menu-text {

    font-size: 14px!important;

}
.aside-menu .menu-nav > .menu-item > .menu-heading .menu-text, .aside-menu .menu-nav > .menu-item > .menu-link .menu-text {

    font-size: 14px!important;
}
.aside-menu .menu-nav > .menu-section .menu-text {
    font-size: 16px!important;
}
@media (max-width: 575.98px){
    .login.login-1 .login-content .login-form {
        width: 300px !important;
    }
}
@media (max-width: 991.98px){
    .login.login-1 .login-content .login-form {
        width: 300px !important;
    }
}
.mini-grid-cell-inner {
    padding-top: 11px!important;
    padding-bottom: 11px!important;
}
@media (min-width: 992px){
    .header-fixed.subheader-fixed.subheader-enabled .wrapper {
        padding-top: 40px!important;
    }
}
@media (min-width: 992px){
    .container, .container-fluid, .container-sm, .container-md, .container-lg, .container-xl, .container-xxl {
        padding-left: 15px!important;
        padding-right: 15px!important;
        padding-top: 0px!important;
    }
}

@media (min-width: 992px){
    .content {

        padding-top: 25px;
        padding-right: 0px;
        padding-bottom: 3px!important;
        padding-left: 0px;
    }
}
.sidebar-submenu li,
.nav-level3 li {
    border-bottom: none !important;
}
.nav.nav-level3 > li.active {
    border: none;
}
.sidebar-submenu li a {
    padding: 7px 10px 7px 10px;
    padding-left: 52px;
}
.fixed-sidebar.mini-navbar .sidebar-submenu.collapsing li a,
.sidebar-submenu.collapsing li a {
    min-width: 220px;
}
.body-small .sidebar-submenu.collapsing li a,
.mini-navbar .sidebar-submenu.collapsing li a {
    min-width: 140px;
}
.nav-level3 li a,
.fixed-sidebar.mini-navbar .sidebar-submenu li .nav-level3 li a {
    padding-left: 62px;
}
.nav-level2 li:last-child {
    padding-bottom: 10px;
}
body:not(.fixed-sidebar):not(.canvas-menu).mini-navbar .nav li:hover > .sidebar-submenu,
.mini-navbar .nav li:focus > .sidebar-submenu {
    display: block;
    border-radius: 0 2px 2px 0;
    min-width: 160px;
    height: auto;
}
body.mini-navbar .navbar-default .nav > li > .sidebar-submenu li a {
    font-size: 12px;
    border-radius: 3px;
}
.fixed-nav .slimScrollDiv #side-menu {
    padding-bottom: 60px;
}
.mini-navbar .sidebar-submenu li a {
    padding: 10px 10px 10px 15px;
}
.mini-navbar .nav .sidebar-submenu {
    position: absolute;
    left: 70px;
    top: 0;
    background-color: #2f4050;
    padding: 10px 10px 10px 10px;
    font-size: 12px;
}
.canvas-menu.mini-navbar .sidebar-submenu {
    background: #293846;
}
.mini-navbar li.active .sidebar-submenu {
    left: 65px;
}
